
BODY {
	Font-Family: Arial;
	Font-size: 8pt;
	Color: black;	
}

P {
	Font-Family: Verdana, Arial;
	Font-size: 10pt;
	Color: black;	
}

H1 {
	Font-Family: Arial;
	Font-size: 14pt;
	color: rgb(0,54,99);
}

H2 {
	Font-Family: Arial;
	Font-size: 12pt;
	color: rgb(0,54,99);
}

H3 {
	Font-Family: Arial;
	Font-size: 10pt;
	color: rgb(0,54,99);
}
A {
	COLOR: #000080
}
A:visited {
	
}
A:active {
	
}
A:hover {
	COLOR: #ff6600
}

A.opcion {
	color: rgb(0,0,155);
/*	color: rgb(155,0,0); */
	text-decoration: none;
}

A.opcion:hover {
	COLOR: #ff0000;
}

A.categoria {
	Font-Family: Arial;
	Font-size: 10pt;
	font-weight: bold;
	color: rgb(0,0,128);
}

A.categoria:hover {
	color: rgb(0,0,128);
}

A.item {
	Font-Family: Arial;
	Font-size: 10pt;
	font-weight: bold;
	color: rgb(0,0,128);
}

A.item:hover {
	color: rgb(0,0,128);
}

.categoria {
	Font-Family: Arial;
	Font-size: 8pt;
	color: rgb(64,64,64);
}

.categoria1 {
	Font-Family: Arial;
	Font-size: 10pt;
	color: rgb(64,64,64);
	background: rgb(238,238,238);
}

.categoria2 {
	Font-Family: Arial;
	Font-size: 10pt;
	color: rgb(64,64,64);
	background: rgb(218,225,234);
}

.categoriadetalle {
	Font-Family: Verdana, Arial, Helvetica;
	Font-size: 10pt;
	color: rgb(64,64,64);
}

.item {
	Font-Family: Verdana, Arial, Helvetica;
	Font-size: 10pt;
	color: rgb(64,64,64);
}

XMP {
	background: #eeeeee;
}

.code {
	background: #f1f1f1;
}

BODY {

}

.tag {
	color: blue;
}

.asp {
	color: red;
}

.php {
	color: green;
}

.titulo {
	Font-Family: Arial;
	Font-size: 9pt;
	font-weight: normal;
	background: rgb(185,185,185);
	color: rgb(0,0,153);
}

.formulario {
	background: black;
}

.informe {
	background: black;
}

.tope {
	background: rgb(255,255,255);
	color: rgb(0,0,0);
	Font-Family: Arial;
	Font-size: 10pt;
}

.izquierda {
	background: white;

}

.titulositio {
	Font-Family: Arial;
	Font-size: 20pt;
	font-weight: bold;
	color: black;
}

.dato {
	Font-Family: Verdana, Arial, Helvetica;
	Font-size: 9pt;
	color: rgb(0,0,128);
	background: rgb(230,230,230);
}

.leyenda {
	Font-Family: Verdana, Arial, Helvetica;
	Font-size: 9pt;
	color: rgb(0,0,0);
	background: rgb(218,225,234);
}

.opcion {
	Font-Family: Arial;
	Font-size: 10pt;
	color: rgb(255,255,255);
	background: #c0c0c0;
/*	background: #FFBB77; */
/*	background: rgb(210,210,255); */
}

.texto {
	Font-Family: Verdana, Arial, Helvetica;
	Font-size: 9pt;
	color: rgb(0,0,128);
}

.pie {
	Font-Family: Verdana, Arial, Helvetica;
	Font-size: 9pt;
	color: rgb(0,0,0);

}

.noticiatitulo {
	Font-Family: Verdana, Arial, Helvetica;
	Font-size: 14pt;
	Color: rgb(0,0,153);
}

a.noticia {
	text-decoration: none;
	Color: rgb(0,0,153);
}

a.noticiaresumen {
	Font-Family: Arial;
	Font-size: 11pt;
	Color: black;	
}

.noticiacopete {
	Font-Family: Arial;
	Font-size: 11pt;
	Font-Weight: bold;
	Color: black;	
}

.noticiatexto {
	Font-Family: Verdana, Arial;
	Font-size: 9pt;
	Color: black;	
}

a:hover.noticia {
	text-decoration: none;
	Color: rgb(0,0,200);
}

/* Estilos Nuevos */

.nu:hover {  COLOR: #0066cc; TEXT-DECORATION: underline  }
.nu {  TEXT-DECORATION: none; color: #003366 }

.HeaderU {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration: none; }
.HeaderU:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration: none; }
.HeaderU:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration: none; }
.HeaderU:active {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration: none; }

/* Header */
.linkOnHdr { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; text-decoration: none; }
.linkOnHdr:visited { color: #000000; text-decoration: none; }
.linkOffHdr { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #ffffff; text-decoration: none; }
.linkOffHdr:visited { color: #ffffff; text-decoration: none; }

.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;	
	background: black;
}

.menutitulo {
	color: rgb(0,54,99);
	background: rgb(218,225,234);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}

.menuopcion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	background: #ffffff;
	text-decoration: none;
}

.menuopcion:visited {
	color: #000000;
	text-decoration: none;
}

.menuopcion:active {
	color: rgb(0,54,99);
	text-decoration: none;
}

.navlink {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.navlink:unknown {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.navlink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.navlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.navlink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #00009f; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.destacado {
 BORDER-RIGHT: #999 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #999 1px solid;
    PADDING-LEFT: 10px;
    BACKGROUND: #eee;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #999 1px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #999 1px solid;

}
